.checkbox-dark-theme {
  position: fixed;
  top: 5px;
  right: 10px;
  z-index: 10;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.util-links {
  display: flex;
  gap: 10px;
  align-items: center;
  opacity: 0.6;

  &--active {
    font-weight: bold;
    opacity: 1;
  }
}

.router-content {
}
