body {
  background: var(--nex-app-bg, #f6f6f7);
  color: var(--nex-app-text-color, #222);
  font-family: var(--nex-font-family-sans, 'Roboto', sans-serif);
  margin: 0;
}

hr {
  margin: 20px 0;
}

// *,
// :after,
// :before {
//   box-sizing: border-box;
//   outline: none !important;
//   letter-spacing: 0.5px !important;
// }
